
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="nodeJS Template">
<meta name="author" content="Luciano Resende">

<!-- styles -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="/lib/css/stylesheet.css" rel="stylesheet">
<link href="/lib/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://vps-d12f2153.vps.ovh.net:80');
    // var socket = io.connect('http://localhost:80');
</script>