

<head>

        <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/lib/css/stylesheet.css" rel="stylesheet">
        <link href="/lib/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <!------ Include the above in your HEAD tag ---------->
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    
    
    
    </head>
    
    
    
    
    <body>
    
    <div class="card bg-light">
    <div class="card-header text-center">
            <h3>Bienvenue sur le site du Court-Mais-Trash</h3>
    </div>
    <article class="card-body mx-auto">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Merci !!</h5>
              <p class="card-text">Merci d'avoir rempli le CMT !<br>

                Tu ne t'en rends pas forcément compte, mais tu viens d'aider près<br> de 2500 étudiants à choisir leurs cours. Alors merci !

                <p class="text-center"><a href="/study/<%= studyId %>/fill" class="btn btn-secondary">Ajouter un avis sur un cours</a></p>
                <p class="text-center"><a href="/" class="card-link">Aller à l'accueil du CMT</a></p>
                ******************

                <br><br>
                <h5 class="card-title">Thank you !!</h5>

                Thank you for completing the CMT!<br>

                You may not realize it, but you have just helped nearly <br>2500 students choose their courses. So thank you!

                    
              </p>
              <p class="text-center"><a href="/study/<%= studyId %>/fill" class="btn btn-secondary">Add a review on a course</a></p>

              <p class="text-center"><a href="/" class="card-link">Go to the CMT reception home page</a></p>
            </div>
          </div>
    </article>
    </div> <!-- card.// -->
    
    </div> 
    <!--container end.//-->
    
    <div class="footer">
            <div class="container">
                <p class="text-center text-muted">Made with <span class="oi oi-heart text-danger"></span> in Cergy, By Havana</p>
            </div>
    </div>
    
    </body>