<% layout('../layout') -%>

<h1>Paramètres de l'étude</h1>
<hr>
<h2 class="text-secondary">Informations générales</h2>
<div class="container">
        <form method="POST" action="/admin/studies/<%= study.Identifiant %>/modify">
            <div class="form-group row">
                <div class="col-4">
                    <label for="trimestre">Trimestre</label>
                    <select class="custom-select" id="trimestre" name="trimestre">
                        <option selected>Sélectionnez le trimestre</option>
                        <option <% if(study.Trimestre == 'T1'){%>selected<%}%> value="T1">T1</option>
                        <option <% if(study.Trimestre == 'T2'){%>selected<%}%> value="T2">T2</option>
                        <option <% if(study.Trimestre == 'T3'){%>selected<%}%> value="T3">T3</option>
                    </select>
                </div>
                <div class="col-4">
                    <label for="year">Année</label>
                    <select class="custom-select" name="year" id="year">
                        <option>Sélectionnez l'année</option>
                        <option selected value="<%= study.Annee %>"><%= study.Annee %></option>
                        <option value="2038 / 2039">2038 / 2039</option>
                        <option value="2037 / 2038">2037 / 2038</option>
                        <option value="2036 / 2037">2036 / 2037</option>
                        <option value="2035 / 2036">2035 / 2036</option>
                        <option value="2034 / 2035">2034 / 2035</option>
                        <option value="2033 / 2034">2033 / 2034</option>
                        <option value="2032 / 2033">2032 / 2033</option>
                        <option value="2031 / 2032">2031 / 2032</option>
                        <option value="2030 / 2031">2030 / 2031</option>
                        <option value="2029 / 2030">2029 / 2030</option>
                        <option value="2028 / 2029">2028 / 2029</option>
                        <option value="2027 / 2028">2027 / 2028</option>
                        <option value="2026 / 2027">2026 / 2027</option>
                        <option value="2025 / 2026">2025 / 2026</option>
                        <option value="2024 / 2025">2024 / 2025</option>
                        <option value="2023 / 2024">2023 / 2024</option>
                        <option value="2022 / 2023">2022 / 2023</option>
                        <option value="2021 / 2022">2021 / 2022</option>
                        <option value="2020 / 2021">2020 / 2021</option>
                        <option value="2019 / 2020">2019 / 2020</option>
                        <option value="2018 / 2019">2018 / 2019</option>
                        <option value="2017 / 2018">2017 / 2018</option>
                        <option value="2016 / 2017">2016 / 2017</option>
                        <option value="2015 / 2016">2015 / 2016</option>
                    </select>
                </div>
                <div class="col-4">
                        <label for="bdeName">Nom du BDE</label>
                        <input type="text" class="form-control" name="bdeName" id="bdeName" placeholder="Insérez le nom du BDE" value="<%= study.BDE %>">
                </div>
            </div>
            
            
            <button type="submit" class="btn btn-secondary">Suivant</button>
        </form>
</div>