
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="nodeJS Template">
<meta name="author" content="Luciano Resende">

<!-- styles -->
<link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="/lib/css/stylesheet.css" rel="stylesheet">
<link href="/lib/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://vps-d12f2153.vps.ovh.net:80');
    // var socket = io.connect('http://localhost:80');
</script>