  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
          <nav class="navbar navbar-dark bg-dark">
              <a class="navbar-brand" href="#">
                  <a class="nav-link" href="/home"><img src="/images/CMT-logo.png" class="img-fluid" alt="Responsive image" width="60"/></a>
              </a>
            </nav>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        
      
        <div class="collapse navbar-collapse text-right" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <form method="GET" action="/search" class="form-inline">
              <input class="form-control mr-sm-2" name="query" type="search" placeholder="Rechercher un cours" aria-label="Search">
              <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Rechercher</button>
            </form>
            <li class="nav-item">
              <a class="nav-link" href="/cours">Liste des Cours</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profs">Liste des Profs</a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="nav-item">
              <a class="nav-link" href="/signout">Deconnexion</a>
          </li>
          </ul>
        </div>
        </div>
    </nav>