

<head>

    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/lib/css/stylesheet.css" rel="stylesheet">
    <link href="/lib/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">



</head>




<body>

<div class="card bg-light">
<div class="card-header text-center">
        <h3>Bienvenue sur le site du Court-Mais-Trash</h3>
</div>
<article class="card-body mx-auto" style="max-width: 400px;">
    <h4 class="card-title mt-3 text-center">Retrouvez votre compte</h4>
    <p class="text-center text-muted">Vous avez signalé avoir oublié votre mot de passe. Voici un formulaire pour réinitialiser le votre :</p>
    <% if(info != "") { %>
        <p class="text-center text-success"><%= info.message %></p>
    <% } %>
    <% if(error != "") { %>
        <p class="text-center text-danger"><%= error.message %></p>
    <% } %>
    <form method="post" action="/user/<%= bannerID %>/reinitiate-password/<%= token %>">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input name="password" class="form-control" placeholder="Mot de passe" type="password"/>
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input name="repassword" class="form-control" placeholder="Confirmer le mot de passe" type="password"/>
        </div>
        <div class="form-group text-center">
                <button type="submit" class="btn btn-secondary"> Envoyer </button>
                <a href="/" class="btn btn-secondary">Annuler</a>
        </div>
    </form>
    <p class="text-center">En cas de problème, vous pouvez nous contacter à contact@bde-essec.fr</p>
    <hr>
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->

<div class="footer">
        <div class="container">
            <p class="text-center text-muted">Made with <span class="oi oi-heart text-danger"></span> in Cergy, By Havana</p>
        </div>
</div>

</body>