

<head>

    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/lib/css/stylesheet.css" rel="stylesheet">
    <link href="/lib/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">



</head>




<body>

<div class="card bg-light">
<div class="card-header text-center">
        <h3>Bienvenue sur le site du Court-Mais-Trash</h3>
</div>
<article class="card-body mx-auto">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Utilisateur créé</h5>
          <p class="card-text">L'utilisateur a bien été créé. Vous devez désormais l'activer grâce à un lien envoyé sur votre adresse e-mail ESSEC.</p>
          <p class="card-text">Vérifiez vos spams afin de s'assurer que vous ayez bien reçu le mail.</p>
          <p class="text-center"><a href="/" class="card-link">Retour à la page de connexion</a></p>
        </div>
      </div>
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->

<div class="footer">
        <div class="container">
            <p class="text-center text-muted">Made with <span class="oi oi-heart text-danger"></span> in Cergy, By Havana</p>
        </div>
</div>

</body>